.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

nav {
	background-color: purple;
}

.logo {
	float: left;
}

.links {
	float:right;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.links ul li {
	display: inline;
	float: right;
}